* { box-sizing: border-box;}

@font-face {
    font-family: 'Bangers';
    src: url('Bangers-Regular.ttf');
}

@font-face {
    font-family: 'Komika';
    src: url('komika.hand.ttf');
}

body {
    font-family: 'Komika';
    font-size: 20px;
    text-align: center;
    background-color: #111;
    color: white;
}

.pure-menu {
    margin: 3% 0% 3% 0%;
}

table, body {
    margin-left: auto;
    margin-right: auto;
}

h1, th, .pure-menu{
    font-family: 'Bangers';
}

table, .pure-form{
    font-size: 16px;
}

h1 {
    color: #E5DC33;
}